{{ partial "header.html" . }}

<div class="row center-xs">
    <h1>Typografi</h1>
    <div class="kasse">
        <a href="/imgs/typo.jpg" title="This is an image title">
            <img src="/imgs/typo.jpg" alt="ocean" /></a>
        <p>Jeg har valgt en font som er meget simpel og som kan bruges både til brødtekst og til overskrifter. Min hjemmeside er meget minimalistisk og det synes jeg også fonten skulle være</p>
    </div>
    <div class="col-xs-6">
        <div class="box">
        </div>
    </div>
</div>
{{ partial "footer.html" . }}