{{ partial "header.html" . }}

<div class="row center-xs">
    <div class="col-xs-6">
        <div class="box">
            GRAFIK
        </div>
    </div>
</div>



<div class="containe">
    <div class="cube">
        <div class="sides">
            <div class="top"></div>
            <div class="right"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>
    <div class="text">ANIMATION BITCH</div>
</div>




{{ partial "footer.html" . }}