{{ partial "header.html" . }}

<div class="row center-xs">
    <div class="col-xs-6">
        <div class="box">
            <h1>Grafik</h1>
            <div class="kasse">
            </div>
            <p>Jeg synes denne animation ville være en anerledes måde at load en side på, og farverne og stilen stemmer overens med min hjemmeside og den stil jeg har valgt.</p>
        </div>
    </div>
</div>


<div class="containe">
    <div class="cube">
        <div class="sides">
            <div class="top"></div>
            <div class="right"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>
</div>




{{ partial "footer.html" . }}