<html>

<head>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/normalize.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL}}css/style.css">
    <script src="{{ .Site.BaseURL}}js/script.js"></script>
    <link rel="stylesheet" href="{{ .Site.BaseURL}}nivo/dist/nivo-lightbox.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL}}nivo/dist/nivo-lightbox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/flexboxgrid.min.css">
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> {{ $currentPage := . }} {{ range .Site.Menus.main }}



        <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent " main " . ) ($currentPage.HasMenuCurrent "main " .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> {{ end }}
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>